$enable-rounded = true;
$enable-transitions = true;

$primary = #0096cc;
$white = #fff;
$black = #000;
$light = #eee;
$dark = #222;
$muted-text = #888;
$disabled = #ddd;

$font-size-lg = 16px;
$font-size-md = 13px;
$font-size-sm = 12px;
$font-weight-base = 400;
$line-height-lg = 24px;
$line-height-md = 20px;
$line-height-sm = 18px;

$border-width = 1px;
$border-color = #ccc;
$border-radius-lg = 3px;
$border-radius-md = 3px;
$border-radius-sm = 3px;

$input-btn-padding-y-lg = 9px;
$input-btn-padding-x-lg = 12px;
$input-btn-font-size-lg = $font-size-lg;
$input-btn-line-height-lg = $line-height-lg;

$input-btn-padding-y-md = 5px;
$input-btn-padding-x-md = 12px;
$input-btn-font-size-md = $font-size-md;
$input-btn-line-height-md = $line-height-md;

$input-btn-padding-y-sm = 4px;
$input-btn-padding-x-sm = 12px;
$input-btn-font-size-sm = $font-size-sm;
$input-btn-line-height-sm = $line-height-sm;

// Forms

$input-font-weight = $font-weight-base;

$input-padding-y-lg = $input-btn-padding-y-lg;
$input-padding-x-lg = $input-btn-padding-x-lg;
$input-font-size-lg = $input-btn-font-size-lg;
$input-line-height-lg = $input-btn-line-height-lg;

$input-padding-y-md = $input-btn-padding-y-md;
$input-padding-x-md = $input-btn-padding-x-md;
$input-font-size-md = $input-btn-font-size-md;
$input-line-height-md = $input-btn-line-height-md;

$input-padding-y-sm = $input-btn-padding-y-sm;
$input-padding-x-sm = $input-btn-padding-x-sm;
$input-font-size-sm = $input-btn-font-size-sm;
$input-line-height-sm = $input-btn-line-height-sm;

$input-background-color = $white;
$input-disabled-background-color = $disabled;

$input-color = $dark;
$input-border-color = $border-color;
$input-border-width = $border-width;

$input-border-radius-lg = $border-radius-lg;
$input-border-radius-md = $border-radius-md;
$input-border-radius-sm = $border-radius-sm;

$input-focus-background-color = $input-background-color;
$input-focus-border-color = $primary;
$input-focus-border-width = 1px;
$input-focus-color = $input-color;

$input-placeholder-color = $muted-text;

$input-height-border = $input-border-width * 2;

$input-height-inner-lg = ($input-line-height-lg) + ($input-padding-y-lg * 2);
$input-height-lg = "calc(%s + %s)" % ($input-height-inner-lg $input-height-border);

$input-height-inner-md = ($input-line-height-md) + ($input-padding-y-md * 2);
$input-height-md = "calc(%s + %s)" % ($input-height-inner-md $input-height-border);

$input-height-inner-sm = ($input-line-height-sm) + ($input-padding-y-sm * 2);
$input-height-sm = "calc(%s + %s)" % ($input-height-inner-sm $input-height-border);

$input-transition = border-color .15s ease-in-out;
